<form
	hx-post="/create"
	class="create"
	method="post">
	<h2 class="">Create a New Task</h2>
	<!-- title -->
	<div class="fields">
		<label for="title">Title</label>
		<input
			type="text"
			id="title"
			name="title"
			required />
	</div>
	<!-- description -->
	<div class="fields">
		<label for="description">Description</label>
		<textarea
			id="description"
			name="description"
			rows="8"
			required></textarea>
	</div>
	<!-- due date -->
	<div class="fields">
		<label for="due_date">Due Date</label>
		<input
			id="due_date"
			name="due_date"
			required
			type="date" />
	</div>
	<!-- submit -->
	<div class="">
		<button class="">Create</button>
	</div>
</form>
